/*
    All userovo color sass variables are in this file
*/

$interface-color: #F6FAFC;

$colors: (
    "white": #FFFFFF,
    "black": #000000,

    "warm-gray-100": #24292E,
    "warm-gray-90": #24292E,
    "warm-gray-80": #383A3F,
    "warm-gray-70": #424243,
    "warm-gray-60": #616165,
    "warm-gray-40": #D6D6D6,
    "warm-gray-30": #ECECEC,
    "warm-gray-20": #F6F6F6,
    "warm-gray-10": #FCFCFC,

    "cool-gray-100": #172554,
    "cool-gray-50": #475569,
    "cool-gray-40": #94A3B8,
    "cool-gray-30": #CBD5E1,
    "cool-gray-20": #E2E8F0,
    "cool-gray-10": #F6FAFC,
    "cool-gray-05": #FBFEFF,

    "charts-blue": #2563EB,
    "charts-turquoise": #06B6D4,
    "charts-light-turquoise": #E6FAFD,
    "charts-amber": #F59E0B,
    "charts-orange": #F96300,
    "charts-light-orange": #FEEFE5,
    "charts-magenta": #F34971,
    "charts-light-magenta": #FEEDF1,
    "charts-coral": #FF9382,
    "charts-violet": #DA6EFC,
    "charts-purple": #6C47FF,
    "charts-light-purple": #F0EDFF,
    "charts-tan": #CDAD7A,
    "charts-olive": #AABB5D,
    "charts-scarlet": #F62404,
    "charts-pink": #FFB6F5,

    "yellow-100": #E49700,
    "yellow-70": #FFC760,
    "yellow-20": #FFF4CE,
    "yellow-10": #FCF5E5,

    "blue-100": #2563EB,
    "blue-90": #1D4ED8,
    "blue-80": #3B82F6,
    "blue-70": #60A5FA,
    "blue-60": #93C5FD,
    "blue-50": #BFDBFE,
    "blue-40": #DBEAFE,
    "blue-30": #E0F2FE,
    "blue-20": #EEF6FF,
    "blue-10": #F6FAFF,

    "sky-blue-100": #06B6D4,

    "shadow-blue-100": #9cbce0,

    "light-blue-100": #EEF6FF,

    "dark-blue-100": #172554,

    "teal": #06B6D4,

    "red-100": #D23F00,
    "red-10": #FBECE5,

    "green-100": #10A14A,
    "green-80": #10B981,
    "green-10": #ECFDF5,

    "primary": #2563EB,
    "primary-green": #06B6D4,
    "success": #67C23A,
    "warning": #E49700,
    "danger": #D23F00,
    "info": #909399,

    "text-secondary": #475569,
    "text-custom-1-active": #172554,
    "text-placeholder": #94A3B8,
    "text-primary": #172554,
    "text-regular": #172554,
    "text-custom-1-passive": #64748B,

    "action-blue": #2563EB
);

//Data table colors
$table-th-bgcolor: #F6FAFC;
$table-text-color: #172554;
$table-footer-text-color: #64748B;
$table-border-color: #E2E8F0;

//Text colors
$border-color-light: #EBEBEF !default;
$border-color-lighter: #ECECEC !default;
$border-color-extra-light: #F2F6FC !default;

// Background
$background-color-base: #F5F7FA !default;

//Border colors
$border-color-base: #ECECEC !default;
